.filter {
  width: 315px;
  min-height: 331px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(91, 137, 164, 0.25);
  border-radius: 5px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1048px) {
  .filter {
    width: 232px;
    min-height: 331px;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(91, 137, 164, 0.25);
    border-radius: 5px;
  }
}
.filter__titles {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-left: 15px;
  padding: 0;
}

.filter__controls-wrap {
  display: block;
  border: none;
  padding: 0;
  margin: 15px 0 0 0;
}
