.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 48px 0 50px 0;
  background-color: #f3f7fa;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1048px) {
  .wrapper {
    width: 1024px;
    min-height: 100%;
    margin: 0 auto;
    padding: 48px 103px 103px 100px;
    background-color: #f3f7fa;
    box-sizing: border-box;
    display: block;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
@media screen and (min-width: 1048px) {
  .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    align-items: flex-start;
  }
}

.page-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
